<div id="<%= dom_id student %>">
  <p>
    <strong>Studentid:</strong>
    <%= student.studentid %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= student.project_id %>
  </p>

</div>
